############################
# Visual Studio
############################
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

############################
# Build folders
############################
bin/
obj/
Debug/
Release/
x64/
x86/

############################
# ASP.NET / IIS
############################
*.vspscc
*.vssscc
*.cache
*.pdb
*.mdb

############################
# NuGet
############################
packages/
*.nupkg
.nuget/

############################
# Logs
############################
*.log

############################
# User-specific files
############################
*.rsuser

############################
# OS files
############################
Thumbs.db
Desktop.ini

############################
# VS Code / Rider
############################
.vscode/
.idea/

############################
# Publish output
############################
publish/
wwwroot/lib/
